
option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    PORT: 8080

files:
  "/etc/nginx/conf.d/00_ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name api.backendhuequito.com;  # El subdominio que configuraste en Route 53

          ssl_certificate /etc/pki/tls/certs/server.crt;  # Ruta al certificado SSL
          ssl_certificate_key /etc/pki/tls/private/server.key;  # Ruta a la clave privada

          location / {
              proxy_pass http://127.0.0.1:8080;  # El puerto en el que está corriendo tu aplicación Node.js
              proxy_http_version 1.1;
              proxy_set_header Connection "";
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
          }
      }